<div class="container text-center padding80 border-top" id="1">
  <h2 class="clip uppercase">Box.BattleShip()</h2>
  <div>
  <img style="height : 20%; width : 20%;" ng-src="{{myImage}}" alt="you" /> <span class="clip" style="display: inline;">VS</span> <img style="height : 20%; width : 20%;" ng-src="{{yourImage}}" alt="opponent" />
  <div class="row">
    <div class="col-xs-12 sea">
      <h2 class="clip">Turn : {{turnName}}</h2>
      <h3 class="clip">{{gameTime}}</h3>
    </div>
    <div class="col-xs-6 sea">
      <h3 class="clip">You : {{score}}</h3>
    </div>
    <div class="col-xs-6 sea">
      <h3 class="clip">{{opponent}} : {{OppScore}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 sea">
      <ul class="seaBox">
        <li ng-repeat="a in sea track by $index">

          <div class="sea col-xs-1">
            <ul>
              <li class="td{{ship.length}}" ng-repeat="ship in a track by $index">
                <div class="seaBoxView shipOnBoard td{{ship.length}}" ng-if="ship.name > 6" style=" background-image:url('img/sub{{ship.name-6}}h.png');background-position:{{14*$parent.$index}}% {{14*$index}}%;">
                  Hit{{ship.name}}</div>
                  <div class="seaBoxView shipOnBoard td{{ship.length}}" ng-if="ship.name < 6 && ship.name >0" style=" background-image:url('img/sub{{ship.name}}.png');background-position:{{14*$parent.$index}}% {{14*$index}}%;">
                    {{ship.name}}</div>
                  <div class="seaBoxView clip td{{ship.length}}" ng-if="ship.name == 6 && ship.name >0" style="">
                      Miss</div>
                  <div class="seaBoxView clip" ng-if="ship.length == 0" style="height:45px;">
                    {{ship.name}}</div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 sea">
          <ul class="seaBox">
            <li ng-repeat="a in oppSea track by $index">

              <div class="sea col-xs-1">
                <ul>
                  <li class="td{{ship.length}}" ng-repeat="ship in a track by $index">

                      <div class="seaBoxView seaFloorHit td{{ship.length}}" ng-if="ship.length == 2" ng-click="shootAt($index,$parent.$index)" style="background:#000;background-position:{{14*$parent.$index}}% {{14*$index}}%;">
                        Hit</div>
                    <div class="seaBoxView seaFloorHit td{{ship.length}}" ng-if="ship.length == 1" ng-click="shootAt($index,$parent.$index)" style="background-image:url('img/Layer11.png');background-position:{{14*$parent.$index}}% {{14*$index}}%;">
                      Miss</div>
                      <div class="seaBoxView" ng-if="ship.length == 0" ng-click="shootAt($index,$parent.$parent.$index)" style="">
                        ?</div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>


        </div>
