<div class="container text-center padding80 border-top" id="1">
  <h2 class="uppercase">Box.BattleShip()</h2>
  <div class="row">
    <div class="col-xs-12 sea">
      <h2>Turn : {{turnName}}</h2>
    </div>
    <div class="col-xs-6 sea">
      <h3>You : {{score}}</h3>
    </div>
    <div class="col-xs-6 sea">
      <h3>{{opponent}} : {{OppScore}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 sea">
      <ul class="seaBox">
        <li ng-repeat="a in sea track by $index">

          <div class="sea col-xs-1">
            <ul>
              <li class="td{{ship.length}}" ng-repeat="ship in a track by $index">
                <div ng-if="ship.length > 0" style="height:45px;">
                  {{ship.name}}</div>
                  <div ng-if="ship.length == 0" style="height:45px;">
                    {{ship.name}}</div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 sea">
          <ul class="seaBox">
            <li ng-repeat="a in oppSea track by $index">

              <div class="sea col-xs-1">
                <ul>
                  <li class="td{{ship.length}}" ng-repeat="ship in a track by $index">
                    <div ng-if="ship.length > 0" ng-click="shootAt($index,$parent.$index)" style="height:45px;">
                      {{ship.name}}</div>
                      <div ng-if="ship.length == 0" ng-click="shootAt($index,$parent.$parent.$index)" style="height:45px;" ui-on-Drop="onDropPlace($event,$data,$index,$parent.$parent.$index,men)" drop-validate="dropValidateSpace($data,$index,$parent.$parent.$index)">
                        {{ship.name}}</div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>


        </div>
