<div class="container text-center padding80 border-top" id="1">
  <h2 class="uppercase">Box.BattleShip()</h2>

    <div class="row">
      <div class="col-xs-12">

        <h3>{{gameTime}}</h3>

        Click on ship to rotate
        Drag ship to sea
        Click sea to remove ship
      </div>
    </div>
    <div class="row">
            <div class="col-xs-3">
                <ul>
                    <li
                    ng-repeat="ship in men track by $index" >
                    <div class="dragShip" ng-if="ship.layout == 'ver'" style="width:50px; height:{{ship.length*35}}px;" on-drop-success="dropSuccessHandler($event,$index,men)" ui-draggable="true" drag="ship" ng-click="turnShip(ship)">{{ship.length + ship.layout}}</div>
                    <div class="dragShip" ng-if="ship.layout == 'hor'" style="height:50px; width:{{ship.length*35}}px;" on-drop-success="dropSuccessHandler($event,$index,men)" ui-draggable="true" drag="ship" ng-click="turnShip(ship)">{{ship.length + ship.layout}}</div>

                    </li>
                </ul>
            </div>
            <div class="col-xs-9 sea">
                <ul class="seaBox">
                    <li ng-repeat="a in sea track by $index">

                              <div class="sea col-xs-1">
                      <ul>
                    <li class="td{{ship.length}}" ng-repeat="ship in a track by $index">
                        <div ng-if="ship.length > 0" ng-click="removeShip(ship)" style="height:45px;">
                            {{ship.length}}</div>
                        <div ng-if="ship.length == 0" style="height:45px;" ui-on-Drop="onDropPlace($event,$data,$index,$parent.$parent.$index,men)" drop-validate="dropValidateSpace($data,$index,$parent.$parent.$index)">
                            {{ship.length}}</div>
                    </li>
                  </ul>
                </div>
                    </li>
                </ul>
            </div>
        </div>

        <button ng-disabled="men.length>0" ng-click="submitButton()">Submit</button>


</div>
